*{
    
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
width: 100%;
min-height:100vh;
padding: 10px;
background-color: rgb(195, 118, 118);
}
.note{
    width: 100%;
    max-width: 80%;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}